{% comment %} {% extends "index.html" %}
{% load static %}

{% block title %}
Header
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock extrahead %}


{% block content %}
 <header class="header_area">
      <div class="main-menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Sam's Personality Development</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div> <!-- Sends navbar  to right side -->
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>

            </ul>
          </div>
        </nav>
      </div>
    </header>
{% endblock content %} {% endcomment %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="{% static '/css/header.css' %}">
</head>
<body>

    
    <header class="header_area">
      <div class="main-menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Sam's Personality Development</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div> <!-- Sends navbar  to right side -->
            <ul class="navbar-nav">
            {% if user.is_authenticated %}
             <li class="nav-item active">
                <a class="nav-link" href="dashboard">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="showTracker">Tracker</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout">Logout<span class="sr-only">(current)</span></a>
              </li>
                  
            {% else %}
            
              <li class="nav-item">
                <a class="nav-link" href="register">Register <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="login">Login<span class="sr-only">(current)</span></a>
              </li>
              
              
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
             
            </ul>
          </div>
        </nav>
      </div>
    </header>
</body>
</html> 